<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}AssoManager AM{% endblock %}</title>
        
        {% stylesheets output='css/asso.am.min.css' filter='cssrewrite' debug=false
        	'bundles/assoam/css/*' %}
        	
        	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        	
        {% endstylesheets %}
    </head>
    
    <body>
    	
    	<div id="header">
			<div>
                <h3>Mon Compte</h3>
                <ul>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
		</div>
		
    	<div id="container">
    	    <nav>
    	       <ul>
    	           <li><a href="{{ path('asso_am_home') }}">Tableau de bord</a></li>
    	           <li><a href="{{ path('asso_book_home') }}">Comptabilite</a></li>
    	           <li><a href="{{ path('asso_material_home') }}">Materiel</a></li>
    	           <li><a href="#">Lien 4</a></li>
    	           <li><a href="#">Lien 5</a></li>
    	       </ul>
    	    </nav>
    	    
    	    <div id="content">
    		  {% block body %}BundleTemplate not good enough...{% endblock %}
    		</div>
    	</div>
    	
    	<div id="footer">
			<p>winzou 2011, GPL - <a href="http://github.com/winzou/AssoManager">Fork it!</a></p>
		</div>
    	
        {% javascripts output='js/asso.am.min.js' debug=false
        	'bundles/assoam/js/jquery-1.6.1.min.js'
        	'bundles/assoam/js/*'
        	'bundles/assobook/js/*' %}
        	
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        	
        {% endjavascripts %}
    </body>
</html>
