{% extends "AssoBookBundle::layout.html.twig" %}

{% block asso_book_body %}

	{% include "AssoAMBundle::flash.html.twig" with {'bundle': 'book'} %}

	<p>
		{{ form_errors(form) }}
		{{ form_errors(formAccount) }}
	</p>

	<fieldset class="asso-float">
		<legend>Liste des comptes</legend>
		<ul class="asso-buttons-list">
    	    {% for account in accounts %}
    	    	<li>
    	    		<a href="{{ path('asso_book_list_entries', {'id': account.id}) }}" class="asso-button ui-state-default ui-corner-all {% if account.id == cur_account.id %}ui-state-active{% endif %} asso_book_account_switch" data-id="{{ account.id }}">{{ account.name }}</a>
    	    	</li>
    	    {% endfor %}
    	</ul>
    </fieldset>

	<fieldset class="asso-float-right">
    	<legend>Actions sur les comptes</legend>

    	<form action="{{ path('asso_book_new_account') }}" method="post" {{ form_enctype(formAccount) }} id="asso_book_account_new" class="asso-float">
        	<div>
            	{{ form_widget(formAccount.name, { 'attr': {'placeholder': 'Nouveau compte...'} }) }}
            	{{ form_errors(formAccount.name) }}
            	{{ form_rest(formAccount) }}
            	<input type="submit" value="Créer" class="asso-button ui-state-default ui-corner-all" />
            </div>
        </form>
        
        <form action="{{ path('asso_book_delete_account') }}" method="get" class="asso-float-right">
        	<div>
        		<select name="asso_book_delete_account" required>
        			<option>Sélectionnez un compte...</option>
        			{% for account in accounts %}
            	    	<option value="{{ account.id }}">{{ account.name }}</option>
            	    {% endfor %}
        		</select>
        		<input type="submit" value="Supprimer..." class="asso-button ui-state-default ui-corner-all" />
        	</div>
        </form>

    </fieldset>

	

	<form action="{{ path('asso_book_actions') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" id="asso_book_ajx_new">

	<div class="asso-clear asso-book-table">
    	<table class="asso_book_datatables" id="asso_book_entries_table" data-id="{{ cur_account.id }}">
    		<colgroup>
    			<col class="wbb_tbl_check" />
    			<col class="wbb_tbl_date" />
    			<col class="wbb_tbl_label" />
    			<col class="wbb_tbl_category" />
    			<col class="wbb_tbl_user" />
    			<col class="wbb_tbl_debit" />
    			<col class="wbb_tbl_credit" />
    			<col class="wbb_tbl_actions" />
    		</colgroup>
    		<thead>
    			<tr>
    				<th><input type="checkbox" class="asso_ajx_checkbox" name="entry_chk" /></th>
    				<th>Date</th>
    				<th>Libellé</th>
    				<th>Catégorie</th>
    				<th>Membre</th>
    				<th>Débit</th>
    				<th>Crédit</th>
    				<th>Actions</th>
    			</tr>
    			<tr>
    					<td></td>
    					<td>
    					    {{ form_widget(form.date, { 'attr': {'placeholder': 'Date'} }) }}
    					    {{ form_errors(form.date) }}
    					</td>
    					<td>
    					    {{ form_widget(form.label, { 'attr': {'placeholder': 'Libellé'} }) }}
    					    {{ form_errors(form.label) }}
    					</td>
    					<td>
    					    {{ form_widget(form.category, { 'attr': {'placeholder': 'Catégorie'} }) }}
    					    {{ form_errors(form.category) }}
    					</td>
    					<td>
    					    {{ form_widget(form.user, { 'attr': {'placeholder': 'Membre'} }) }}
    					    {{ form_errors(form.user) }}
    					</td>
    					<td colspan="2">
    					    {{ form_widget(form.amount, { 'attr': {'placeholder': 'Montant'} }) }}
    					    {{ form_errors(form.amount) }}
    					</td>
    					<td>
    						{{ form_widget(form.account, { 'attr': {'style': 'display:none;'} }) }}
    						{{ form_errors(form.account) }}
    					    {{ form_rest(form) }}
    					    <input type="submit" name="new" id="asso_book_new" class="asso-button ui-state-default ui-corner-all " />
    					</td>
    
    			</tr>
    		</thead>
    		<tbody>
    			{% for entry in entries %}
    				{% include "AssoBookBundle:Book:entry.html.twig" %}
    			{% else %}
    				<tr>
    					<td></td>
    					<td></td>
    					<td>Aucune opérations trouvées.</td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    					<td></td>
    				</tr>
    			{% endfor %}
    		</tbody>
    		<tfoot>
    			<tr>
    				<td colspan="8"><input type="submit" value="Supprimer les opérations sélectionnées" /></td>
    			</tr>
    		</tfoot>
    	</table>
	</div>

	</form>

{% endblock %}