{% extends "AssoBookBundle::layout.html.twig" %}

{% block asso_book_body %}

	{% include "AssoAMBundle::flash.html.twig" with {'bundle': 'book'} %}

	<p>
		{{ form_errors(form) }}
		{{ form_errors(formAccount) }}
	</p>

	<form action="{{ path('asso_book_new_account') }}" method="post" {{ form_enctype(formAccount) }}>
    	<fieldset>
    		<legend>Comptes</legend>
        	<ul class="asso_buttons">
        	    {% for account in accounts %}
        	    	<li>
        	    		<a href="{{ path('asso_book_list_entries', {'id': account.id}) }}" class="asso_button {% if account.id == cur_account.id %}asso_button_checked{% endif %} asso_book_account_switch" data-id="{{ account.id }}">{{ account.name }}</a>
        	    		<a href="{{ path('asso_book_delete_account', {'id': account.id}) }}" class="asso_button asso_button_delete">X</a>
        	    	</li>
        	    {% endfor %}
        	</ul>
        </fieldset>
	</form>

	<form action="{{ path('asso_book_actions') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" id="asso_book_ajx_new">

	<table class="asso_book_datatables" id="asso_book_entries_table" data-id="{{ cur_account.id }}">
		<colgroup>
			<col class="wbb_tbl_check" />
			<col class="wbb_tbl_date" />
			<col class="wbb_tbl_label" />
			<col class="wbb_tbl_account" />
			<col class="wbb_tbl_user" />
			<col class="wbb_tbl_debit" />
			<col class="wbb_tbl_credit" />
			<col class="wbb_tbl_actions" />
		</colgroup>
		<thead>
			<tr>
				<th><input type="checkbox" class="asso_ajx_checkbox" name="entry_chk" /></th>
				<th>Date</th>
				<th>Label</th>
				<th>Account</th>
				<th>User</th>
				<th>Debit</th>
				<th>Credit</th>
				<th>Actions</th>
			</tr>
			<tr>
					<td></td>
					<td>{{ form_widget(form.date, { 'attr': {'placeholder': 'Date'} }) }} {{ form_errors(form.date) }}</td>
					<td>{{ form_widget(form.label, { 'attr': {'placeholder': 'Libelle'} }) }} {{ form_errors(form.label) }}</td>
					<td>{{ form_widget(form.account, { 'attr': {'placeholder': 'Compte'} }) }} {{ form_errors(form.account) }}</td>
					<td>{{ form_widget(form.user, { 'attr': {'placeholder': 'Membre'} }) }} {{ form_errors(form.user) }}</td>
					<td colspan="2">{{ form_widget(form.amount, { 'attr': {'placeholder': 'Debit'} }) }} {{ form_errors(form.amount) }}</td>
					<td>{{ form_rest(form) }} <input type="submit" name="new" id="asso_book_new" /></td>

			</tr>
		</thead>
		<tbody>
			{% for entry in entries %}
				{% include "AssoBookBundle:Book:entry.html.twig" %}
			{% else %}
				<tr>
					<td colspan="8">No entry found.</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8"><input type="submit" value="Supprimer les opérations sélectionnées" /></td>
			</tr>
		</tfoot>
	</table>

	</form>

{% endblock %}