{% extends "AssoBookBundle::layout.html.twig" %}

{% block asso_book_body %}
	
	<p>
		{{ app.session.getFlash('asso_book_notice')|trans([], 'AssoBookBundle') }}
	</p>
	
	<form action="{{ path('asso_book_new') }}" method="post" {{ form_enctype(form) }}>
	
	<table>
		<colgroup>
			<col class="wbb_tbl_date" />
			<col class="wbb_tbl_label" />
			<col class="wbb_tbl_account" />
			<col class="wbb_tbl_user" />
			<col class="wbb_tbl_debit" />
			<col class="wbb_tbl_credit" />
			<col class="wbb_tbl_actions" />
		</colgroup>
		<thead>
			<tr>
				<th>Date</th>
				<th>Label</th>
				<th>Account</th>
				<th>User</th>
				<th>Debit</th>
				<th>Credit</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in entries %}
				<tr>
					<td>{{ entry.date|date('d/m/Y') }}</td>
					<td>{{ entry.label }} ({{ entry.id }})</td>
					<td>{{ entry.account.name }}</td>
					<td>{% if entry.user.username is defined %}<a href="{{ path('asso_user_profile_show', {'username': entry.user.username}) }}">{{ entry.user.username }}</a>{% endif %}</td>
					<td>{% if entry.amount < 0 %}{{ entry.amount }}{% endif %}</td>
					<td>{% if entry.amount >= 0 %}{{ entry.amount }}{% endif %}</td>
					<td><a class="wbb_ajx_delete_entry" href="{{ path('asso_book_delete_entry', {'id': entry.id}) }}">Delete</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">No entry found.</td>
				</tr>
			{% endfor %}
			
			<tr>
				<td colspan="7">
					{{ form_errors(form) }}
				</td>
			</tr>
			<tr>
				<td>{{ form_widget(form.date, { 'attr': {'placeholder': 'Date'} }) }} {{ form_errors(form.date) }}</td>
				<td>{{ form_widget(form.label, { 'attr': {'placeholder': 'Libelle'} }) }} {{ form_errors(form.label) }}</td>
				<td>{{ form_widget(form.account, { 'attr': {'placeholder': 'Compte'} }) }} {{ form_errors(form.account) }}</td>
				<td>{{ form_widget(form.user, { 'attr': {'placeholder': 'Membre'} }) }} {{ form_errors(form.user) }}</td>
				<td>{{ form_widget(form.amount.debit, { 'attr': {'placeholder': 'Debit'} }) }} {{ form_errors(form.amount.debit) }}</td>
				<td>{{ form_widget(form.amount.credit, { 'attr': {'placeholder': 'Credit'} }) }} {{ form_errors(form.amount.credit) }}</td>
				<td>{{ form_rest(form) }} <input type="submit" /></td>
			</tr>
		</tbody>
	</table>
	
	</form>

{% endblock %}