<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>{% block title %}AssoManager Site{% endblock %}</title>
        
        {% stylesheets output='css/site.min.css' filter='yui_css' debug=false
        	'@AssoSiteBundle/Resources/public/css/*' %}
        	
        	<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
        	
        {% endstylesheets %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
    	
    	<div id="header">
			<h1><a href="{{ path('AssoAM') }}">AssoManager</a></h1>
			<ul>
				<li><a href="{{ path('AssoSite') }}">Accueil</a></li>
				<li><a href="#menu">Aller au menu</a></li>
				<li><a href="#content">Aller au contenu</a></li>
			</ul>
			<div>
	            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                <a href="{{ path('fos_user_user_show', {'username': app.user.username}) }}">
	                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
	                </a> |
	                <a href="{{ path('_security_logout') }}">
	                    {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
	                </a>
	            {% else %}
	                <a href="{{ path('_security_login') }}">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a> |
	                <a href="{{ path('fos_user_user_new') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
	            {% endif %}
        	</div>
		</div>

		<div id="menu">
			<div>
				<h3>Sentenza</h3>
				<ul>
					<li><a href="{{ path('AssoSite') }}">Accueil</a></li>
				</ul>
			</div>

			<div>
				<h3>Mon Compte</h3>
					<ul>
						<li><a href="{{ path('_security_login') }}">Connexion</a></li>
					</ul>
			</div>		
		</div>
    	
    	<div id="content">
    		{% block body %}BundleTemplate not good enough...{% endblock %}
    	</div>
    	
    	<div id="footer">
			<p>winzou 2011, GPL - <a href="http://github.com/winzou/AssoManager">Fork it!</a></p>
		</div>
    	
        {% block javascripts %}{% endblock %}
    </body>
</html>
